@using MiPrimerAplicacionWebConEntityFramework.Models;
@model List<MarcaCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID Marca</th>
            <th>Nombre</th>
            <th>Descripcion</th>          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            
            <td>@item.iidmarca</td>
            <td>@item.nombre</td>
            <td>@item.descripcion</td>
         </tr>
        }
    </tbody>
</table>