@using MiPrimerAplicacionWebConEntityFramework.Models
@model List<RolCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Ajax.BeginForm("Filtro","",
    new AjaxOptions
    {
        HttpMethod= "Post",
        UpdateTargetId= "divTablaRol",
        //Lo que hace es actualizar el parcial cada vez que consultemos InsertionMode = InsertionMode.Replace
        InsertionMode = InsertionMode.Replace
    },new {@id="frmFiltro" }))
{
    @Html.Label("Ingrese nombre rol: ")
    @Html.TextBox("nombre", null, new { @class="form-control" })
<div id="divTablaRol">
    @Html.Partial("_tablaRol", Model)
</div>
    
}

<script>
    var nombre = document.getElementById("nombre");
    nombre.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }
</script>

